alias g="git"
alias gaa="git add -A"
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
alias krc="nvim ~/.config/kitty/kitty.conf"
alias trc="nvim ~/.tmux.conf"
alias tprc="nvim ~/.tmux.conf"
alias zrc="nvim ~/.zshrc"
alias dotfiles="cd ~/.config/dotfiles"
alias sail="bash ./vendor/bin/sail"
alias bkp="cd ~/.local/dev/bkprecision"
alias mybk="cd ~/.local/dev/mybk"
alias sandbox="cd ~/.local/dev/sandbox"

