alias g="git"
alias gaa="git add -A"
alias v="nvim"
alias vi="nvim"
alias vim="nvim"
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
alias trc="nvim ~/.tmux.conf"
alias zrc="nvim ~/.zshrc"
alias dotfiles="cd ~/.config/dotfiles"
alias sail="bash ./vendor/bin/sail"
alias sandbox="cd ~/.local/dev/projects/sandbox"
alias shpr="cd ~/.local/dev/projects/shpr"
alias ps="cd ~/.local/dev/projects"
alias discord="flatpak run com.discordapp.Discord"

