alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
alias ez="nvim ~/.zshrc"
alias ev="nvim ~/.vimrc"
alias sz="source ~/.zshrc"
alias vi="nvim"
alias vim="nvim"
alias dcu="docker-compose up -d --build"
alias dcd="docker-compose down"
alias drc="docker-compose run --rm"
alias tdb="cd ~/dev/laravel/taverndb"
